body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    background-image: url('imagenes/background');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pokedex-container {
    text-align: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.title-image {
    width: 50%;
    max-width: 400px;
    margin-bottom: 20px;
}

#search-bar {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.pokemon-card {
    background-color: #D6D6D6;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.2s;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-card img {
    max-width: 190px;
    height: auto;
}

.pokemon-card h2 {
    font-size: 22px;
    margin: 10px 0;
    color: #000;
}

.pokemon-card p {
    font-size: 14px;
    margin: 5px 0;
    color: #000;
}

.pokemon-card .number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
    /* background-color: transparent; */
    padding: 2px 5px;
    border-radius: 5px;
    color: #000;
}

.pokemon-card .stats {
    margin-top: 10px;
}

.pokemon-card canvas {
    width: 100%;
    height: 150px;
}
